<b>Kdy:</b> {{ reservation.date|date("d. n. H:i") }}</br>

{% if reservation.location %}
  <b>Kde:</b> {{ reservation.location }}</br>
{% endif %}

{% if reservation.lector %}
  <b>S kym:</b> {{ reservation.lector }}</br>
{% endif %}

{% if reservation.level %}
  <b>Pro koho:</b> {{ reservation.level }}</br>
{% endif %}

<b>Kapacita:</b> {{ reservation.capacity }}</br>

{% if reservation.note %}
  <b>Poznamka:</b></br>{{ reservation.note }}</br>
{% endif %}

{% if reservation.visitors %}
  <b>Prihlaseni:</b></br>
  {% for visitor in reservation.visitors %}
    <span title="{{ visitor.enrolledAt|date("d. n. H:i") }}">{{ visitor.name }}</span>
    {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('delete_visitor', { 'id': visitor.id }) }}">Smazat</a>
    {% endif %}
    </br>
  {% endfor %}
{% endif %}

{% if is_granted('ROLE_USER') %}
  {{
    form(visitorForm, {
      'action': path(
        'add_visitor', { 'reservationSlotId': reservation.id }
      )
    })
  }}
{% endif %}