{% extends 'base.html.twig' %}

{% block body %}
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td {font-family:Arial,sans-serif;font-size:12px;padding:5px 2px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-yw4l{vertical-align:top}
    </style>
    <table class="tg">
      <tr>
        {% for reservationForm in reservationsForms %}
          <td class="tg-yw4l">
            {{ include('reservation_slot/detail.html.twig', { 'reservation': reservationForm.reservation, 'visitorForm': reservationForm.form }) }}
            {% if is_granted('ROLE_ADMIN') %}
                <hr>
                <a href="{{ path('update_reservation_slot', { 'id': reservationForm.reservation.id }) }}">Upravit</a>
                <a href="{{ path('delete_reservation_slot', { 'id': reservationForm.reservation.id }) }}">Smazat</a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    </table>
    <div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('create_reservation_slot') }}">Novy trenink</a>
        {% endif %}
        {% if not is_granted('ROLE_USER') %}
            <a href="{{ path('login') }}">Prihlasit se</a>
        {% endif %}
    </div>
{% endblock %}
